@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*--------------light mode css------------*/
body.light-mode {
    background-color: #EDF0F1;
    color: #000;
    transition: background-color 0.3s ease;
}
body.light-mode .header {
    width: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    border-top: 3px solid #000;
    border-bottom: 1px solid rgba(0,0,0,.125);
    /*box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;*/
}
body.light-mode a {
    /*@apply text-neon-orange;*/
    color: #007bff
}
body.light-mode a:hover {
    /*@apply underline;*/
    color: #f92300
}
body.light-mode .header-link {
    color: #000;
    /*opacity: 0.7;*/
    margin: 5px 0 5px 20px;
    text-decoration: none !important;
}
body.light-mode .header-link:hover {
    color: #3C4ADF;
    /*@apply underline;*/
    /*opacity: 1;*/
}
body.light-mode .title-post {
    color: #000;
    text-decoration: none !important;
    /*opacity: 0.9;*/
}
body.light-mode .title-post:hover {
    /*@apply underline;*/
    /*opacity: 1;*/
    color: #3C4ADF;
}
body.light-mode .navbar-brand {
    color: #000;
    /*opacity: 0.7;*/
}
body.light-mode .navbar-brand:hover {
    /*opacity: 1;*/
    color: #3C4ADF;
}
body.light-mode .feedback {
    color: #000;
    max-width: 250px;
    background-color: #F9FAFA;
    /*margin-left: 20px;*/
    margin: 5px 0 5px 20px;
}
body.light-mode .btn-menu {
    color: #000;
}
body.light-mode p {
    color: #000;
}
body.light-mode ul li {
    color: #000;
}
body.light-mode ol li {
    color: #000;
}
body.light-mode h1 {
    color: #000;
}
body.light-mode h2 {
    color: #000;
}
body.light-mode h3 {
    color: #000;
}
body.light-mode h4 {
    color: #000;
}
body.light-mode h5 {
    color: #000;
}
body.light-mode h6 {
    color: #000;
}
body.light-mode .banner {
    background-color: #fff;
    color: #000
}
body.light-mode .banner a {
    color: #000;
}
body.light-mode .my-footer {
    width: 100%;
    background-color: #fff;
    height: 150px;
    padding: 60px 0;
    border-top: 1px solid #eaeaea;
}
/*body.light-mode .card-area {*/
/*    background-color: #EDF0F1;*/
/*    color: #fff;*/
/*    !*box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);*!*/
/*}*/
body.light-mode .card-post {
    background-color: #fff;
    /*color: #fff;*/
    /*box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);*/
}

/*-------------dark mode css-------------*/
body.dark-mode {
    background-color: #141517;
    color: #ffffff;
}
body.dark-mode .header {
    width: 100%;
    background-color: #1E2025;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-top: 3px solid #f48024;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}
body.dark-mode .header-link {
    color: #ffffff;
    opacity: 0.7;
    margin: 5px 0 5px 20px;
}
body.dark-mode .header-link:hover {
    /*@apply underline;*/
    /*opacity: 1;*/
    color: #f48024;
}
body.dark-mode .title-post {
    color: #ffffff;
    /*opacity: 0.9;*/
}
body.dark-mode .title-post:hover {
    /*@apply underline;*/
    color: #f48024;
    /*opacity: 1;*/
}
body.dark-mode .navbar-brand {
    color: #ffffff;
    opacity: 0.7;
}
body.dark-mode .navbar-brand:hover {
    opacity: 1;
    color: #ffffff
}
body.dark-mode .feedback {
    background-color: #25292F;
    color: #fff;
    border: 1px solid #2c303a;
    max-width: 250px;
    margin-left: 20px;
}
body.dark-mode .input-search {
    background-color: #25292F;
    color: #fff;
    border: 1px solid #999;
}
body.dark-mode .btn-menu {
    color: #ffffff;
}
body.dark-mode h2, p, li {
    color: #ffffff
}
body.dark-mode h3 {
    color: #ffffff
}
body.dark-mode h4 {
    color: #ffffff
}
body.dark-mode h5 {
    color: #ffffff
}
body.dark-mode h6 {
    color: #ffffff
}
body.dark-mode .paging {
    background-color: #10171d;
}
body.dark-mode .banner {
    background-color: #1E2025;
}
body.dark-mode .banner a {
    color: #ffffff;
}
body.dark-mode .input-frontmatter {
    background-color: #25292F;
    color: #ffffff;
    border: 1px;
}
body.dark-mode .my-footer {
    width: 100%;
    background-color: #1E2025;
    height: 150px;
    padding: 60px 0;
}
body.dark-mode hr {
    background-color: #2c303a;
}
body.dark-mode .card-area {
    background-color: #25292F;
    color: #ffffff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}
body.dark-mode .card-post {
    background-color: #25292F;
    border: 1px solid #2c303a;
}

span {
    /*color: rgb(250, 240, 137);*/
    border-radius: 5px;
    /*background-color: rgba(250, 240, 137, 0.16);*/
}

span, li, p {
    @apply font-light;
}

/* Styles for lazy loaded images */
.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 500ms ease-in, -webkit-filter 500ms ease-in;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.emoji-react {
    width: 2rem !important;
    height: 2rem !important;
    opacity: 0.7;
    margin: 0 15px;
}

.emoji-react:hover {
    opacity: 1;
}

.scrollTop {
    position: fixed;
    bottom: 60px;
    right: 50px;
    align-items: center;
    height: 40px;
    width: 40px;
    justify-content: end;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
}

.scrollTop:hover{
    opacity: 1;
}

.reaction {
    position: sticky;
    top: 170px;
}

body.light-mode .btn-dark-mode {
    background-color: #E1EFF1;
    color: #000;
    padding: 10px;
    border-radius: 7px;
    margin: 5px 0 5px 20px;
    border: 1px;
    outline: none;
}
body.light-mode .btn-dark-mode:hover {
    color: #3C4ADF;
}

body.dark-mode .btn-dark-mode {
    background-color: #25292F;
    color: #fff;
    padding: 9px;
    border-radius: 7px;
    margin: 5px 0 5px 20px;
    border: 1px solid #2c303a;
    outline: none;
}
body.dark-mode .btn-dark-mode:hover {
    color: #f48024;
}

.toc-custom > ul > li > a {
    padding-bottom: 10px;
}
