@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scroll-behavior: smooth;
}

#nprogress .bar {
    height:3px !important;
    background: #f48024 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #f48024, 0 0 5px #f48024 !important;
}

span {
    border-radius: 5px;
    /*background-color: rgba(250, 240, 137, 0.16);*/
}

span, li, p {
    @apply font-light;
}

/* Styles for lazy loaded images */
.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 500ms ease-in, -webkit-filter 500ms ease-in;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.emoji-react {
    width: 2rem !important;
    height: 2rem !important;
    opacity: 0.5;
    margin: 0 15px;
}

.emoji-react:hover {
    opacity: 1;
}

.scrollTop {
    position: fixed;
    bottom: 60px;
    right: 50px;
    align-items: center;
    height: 40px;
    width: 40px;
    justify-content: end;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
}

.scrollTop:hover{
    opacity: 1;
}

.reaction {
    position: sticky;
    top: 170px;
}

.toc-custom > ul > li > a {
    padding-bottom: 10px;
}

.row-post {
    padding-top: 1.5rem;
}
