html {
  scroll-behavior: smooth;
}
#nprogress {
  .bar {
    background: #f48024 !important;
  }
  .peg {
    box-shadow: 0 0 10px #f48024, 0 0 5px #f48024 !important;
  }
}
span {
  border-radius: 5px;
}
.emoji-react {
  width: 2rem !important;
  height: 2rem !important;
  opacity: 0.5;
  margin: 0 15px;
  &:hover {
    opacity: 1;
  }
}
.scrollTop {
  position: fixed;
  bottom: 60px;
  right: 50px;
  align-items: center;
  height: 40px;
  width: 40px;
  justify-content: end;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.reaction {
  position: sticky;
  top: 170px;
  display: grid;
  justify-content: center;
}
.row-post {
  padding-top: 1rem;
}

.parentSyntax {
  position: relative;
}

.copyButton {
  position: absolute;
  color: #fff;
  right: 15px;
  top: 15px;
  border-radius: 5px;
  font-size: 1rem;
  &:hover {
    color: #f48024;
  }
}
.auth-form {
  width: 36rem;
}
