 /*--------------light mode css------------*/
body.light-mode {
  background-color: #EDF0F1;
  color: #000;
  transition: background-color 0.3s ease;
  .header {
    width: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
  }
  a {
    color: #007bff;
    &:hover {
      color: #f92300;
    }
  }
  .header-link {
    color: #000;
    margin: 5px 20px 5px 0;
    text-decoration: none !important;
    &:hover {
      color: #3C4ADF;
    }
  }
  .title-post {
    color: #000;
    text-decoration: none !important;
    &:hover {
      color: #3C4ADF;
    }
  }
  .navbar-brand {
    padding: 5px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    margin-right: 0.5rem;
    &:hover {
      color: #3C4ADF;
    }
  }
  .feedback {
    color: #000;
    //max-width: 300px;
    //min-width: 150px;
    background-color: #F9FAFA;
    margin: 5px 0;
    &:focus {
      outline: none;
    }
  }
  .btn-menu {
    color: #000;
  }
  p {
    color: #000;
  }
  ul {
    li {
      color: #000;
    }
  }
  ol {
    li {
      color: #000;
    }
  }
  h1 {
    color: #000;
  }
  h2 {
    color: #000;
  }
  h3 {
    color: #000;
  }
  h4 {
    color: #000;
  }
  h5 {
    color: #000;
  }
  h6 {
    color: #000;
  }
  .banner {
    background-color: #fff;
    color: #000;
    a {
      color: #000;
    }
  }
  .my-footer {
    width: 100%;
    background-color: #D2D6DB;
    min-height: 40vh;
    border-top: 1px solid #eaeaea;
  }
  .card-post {
    background-color: #fff;
  }
  .btn-dark-mode {
    background-color: #E1EFF1;
    color: #000;
    padding: 10px;
    border-radius: 7px;
    margin: 5px 0;
    border: 1px;
    outline: none;
    &:hover {
      color: #3C4ADF;
    }
  }
}
