$dark-grey: #404040;
$nc-blue: #00BDFC;
$nc-bl-dark: #0093C4;
$red: #FC3F00;

/*--------------light mode css------------*/
body.light-mode {
  background-color: #EDF0F1;
  color: #000;
  transition: background-color 0.3s ease;
  .header {
    width: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
  }
  a {
    color: #3C4ADF;
    &:hover {
      color: #f92300;
    }
  }
  .header-link {
    color: #363d44;
    margin: 5px 20px 5px 0;
    text-decoration: none !important;
    padding: 8px;
    border-radius: 5px;
    &:hover {
      color: #3C4ADF;
      background-color: rgba(8, 9, 10, 0.05);
    }
  }
  .header-link-active {
    color: #3C4ADF;
  }
  .posts-title {
    color: #000;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none !important;
    &:hover {
      color: #3C4ADF;
      background-color: rgba(8, 9, 10, 0.05);
    }
  }
  .title-post {
    color: #000;
    //padding: 5px;
    text-decoration: none !important;
    &:hover {
      color: #3C4ADF;
    }
  }
  .navbar-brand {
    padding: 5px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    margin-right: 0.5rem;
    &:hover {
      color: #f48024;
    }
  }
  .feedback {
    color: #363d44;
    max-width: 300px;
    min-width: 270px;
    background-color: #F9FAFA;
    margin: 5px 0;
    &:focus {
      outline: none;
    }
  }
  .btn-menu {
    color: #000;
  }
  p {
    color: #000;
    font-weight: 400;
  }
  ul {
    li {
      color: #000;
      font-weight: 400;
    }
  }
  ol {
    li {
      color: #000;
      font-weight: 400;
    }
  }
  h1 {
    color: #000;
  }
  h2 {
    color: #000;
  }
  h3 {
    color: #000;
  }
  h4 {
    color: #000;
  }
  h5 {
    color: #000;
  }
  h6 {
    color: #000;
  }
  .banner {
    background-color: #fff;
    color: #000;
    a {
      color: #000;
    }
  }
  .my-footer {
    width: 100%;
    background-color: #D2D6DB;
    min-height: 40vh;
    border-top: 1px solid #eaeaea;
  }
  .card-post {
    background-color: #fff;
  }
  .btn-dark-mode {
    background-color: rgba(8, 9, 10, 0.05);
    color: #000;
    padding: 10px;
    border-radius: 7px;
    margin: 5px 0;
    border: 1px;
    outline: none;
    &:hover {
      color: #3C4ADF;
    }
  }
  .feed-menu {
    display: inline-block;
    position: relative;
    text-align: center;
    font-weight: 400;
    color: #363d44;
    text-decoration: none !important;
    border-radius: 5px;
    padding: 8px;
    margin-left: 15px;
    &:hover {
      color: #3C4ADF;
      background-color: rgba(8, 9, 10, 0.05);
    }
    &:active {
      //border-bottom: 3px solid #3C4ADF;
    }
  }
  .react-sidebar {
    width: 2.5rem;
    height: 2.5rem;
    color: #363d44;
    padding: 5px;
    border-radius: 5px;
    &:hover {
      color: #3C4ADF;
      background-color: rgba(8, 9, 10, 0.05);
    }
  }
  .tag-post {
    font-size: 14px;
    color: #363d44;
    font-weight: 500;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  .toc-custom {
    ul {
      li {
        margin-bottom: 5px;
        a {
          color: #363d44;
          font-size: 15px;
          font-weight: 500;
        }
      }
      ul {
        li {
          padding-left: 15px;
          margin-bottom: 5px;
          a {
            color: #363d44;
            font-size: 15px;
            font-weight: 500;
          }
        }
        ul {
          li {
            padding-left: 15px;
            margin-bottom: 5px;
            a {
              color: #363d44;
              font-size: 15px;
              font-weight: 500;
            }
          }
          ul {
            li {
              padding-left: 15px;
              margin-bottom: 5px;
              a {
                color: #363d44;
                font-size: 15px;
                font-weight: 500;
              }
            }
            ul {
              li {
                padding-left: 15px;
                margin-bottom: 5px;
                a {
                  color: #363d44;
                  font-size: 15px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
  .selected-news {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
  }
  .toc-active {
    color: #000;
  }

  // comment-box
  .button-cmb {
    border: none;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.75em; // 12px/16px
    display: inline-block;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
    &:focus {
      text-decoration: none;
      outline: none;
    }
  }
  .comment-box {
    background-color: #fff;
    border-radius: 0.875rem;
    padding: 0.2rem 1rem 2rem;
  }
  .comment-form {
    background-color: #F9FAFA;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .comment-form-fields {
    margin-bottom: 0.25rem;
    input, textarea {
      width: 99%;

      &:focus {
        outline: none;
        box-shadow: 0 4px 2px -2px $nc-bl-dark;
      }
    }
    textarea {
      font-style: italic;
    }
  }
  .comment-form-actions {

  }
  .comment-count {
    color: $dark-grey;
  }
  #comment-reveal {
    float: right;
    background-color: $nc-blue;
    color: #fff;
  }
  .comment {
    border-top: 1px solid rgba(0,0,0,.1);
  }
  .comment-body {
    font-style: italic;
    margin-left: 1rem;
  }
  .comment-footer {
    margin-bottom: 1rem;
  }
  .comment-footer-delete {
    padding: 0.2rem 0;
    color: $dark-grey;
    text-decoration: none;

    &:hover {
      color: $nc-blue;
      font-weight: bold;
    }
  }
  .btn-subscribe {
    padding: 0.5rem;
    height: 35px;
    line-height: 0;
  }
  .btn-post-comment {
    background-color: rgba(8, 9, 10, 0.05);
  }

  .left-bar {
    display: grid;
  }

}
