.sidenav {
position: sticky;
z-index: 1;
top: 6rem;
/*background: #fff;*/
overflow-x: hidden;
/*margin-top: 1.7rem;*/
}

.sidenav a {
padding: 10px 0;
text-decoration: none;
/*font-size: 16px;*/
/*color: black;*/
display: block;
}

.sidenav h4 {
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.toc {
    position: sticky;
    z-index: 1;
    top: 6rem;
    overflow-x: hidden;
    /*margin-top: 1.7rem;*/
}

.toc .h5 {
    margin-bottom: 15px;
}
