.sidenav {
    position: sticky;
    z-index: 1;
    top: 6rem;
    overflow-x: hidden;
    a {
        padding: 10px 0;
        text-decoration: none;
        display: block;
        &:hover {
            color: #064579;
        }
    }
    h4 {
        padding-bottom: 10px;
        text-decoration: none;
        display: block;
    }
}
.toc {
    position: sticky;
    padding: 0 10px;
    z-index: 1;
    top: 5rem;
    overflow-x: hidden;
    border-left: 1px solid #999;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        a {
            font-size: 18px;
        }
    }
}
